body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 26px;
  font-family: 'Varela Round', sans-serif;
  color: #848999;
  font-size: 14px;
  text-align: left;
}

.button {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  padding: 14px 29px;
  border-radius: 5px;
  background-color: #3a5b6e;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #848a9c;
}

.button.nav {
  margin-left: 18px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button.nav:hover {
  background-color: #9299ad;
}

.button.big-green {
  margin-top: 191px;
  padding: 25px 22px;
  background-color: #32ac97;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 29px;
  text-transform: capitalize;
}

.button.big-green:hover {
  background-color: #258575;
}

.button.sign-up {
  background-color: #79935c;
}

.button.sign-up:hover {
  background-color: #33b59f;
}

.section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.section.header {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #262933;
}

.section.hero {
  overflow: hidden;
  padding-top: 158px;
  padding-bottom: 121px;
  background-color: #e3e7ec;
  text-align: center;
}

.section.grey {
  background-color: #eff1f4;
  text-align: center;
}

.section.centered {
  text-align: center;
}

.section.centered.what-people-are-saying {
  background-color: #eff1f4;
}

.section.footer {
  background-color: #363b48;
  text-align: left;
}

.company {
  margin-top: 11px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.nav-link {
  margin-right: 11px;
  margin-left: 11px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .81);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.sign-up {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #79935c;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
}

.nav-link.sign-up:hover {
  background-color: #637c3c;
}

.nav-link.subheading {
  font-size: 12px;
}

.nav-column {
  padding-top: 13px;
  padding-right: 0px;
  padding-left: 100px;
  text-align: right;
}

.logo {
  margin-right: 11px;
  float: left;
}

.hero-heading {
  margin-top: 28px;
  font-family: Montserrat, sans-serif;
  color: #3d5769;
  font-size: 38px;
  font-weight: 400;
}

.hero-subhead {
  margin-bottom: 43px;
  color: #507fa0;
  font-size: 14px;
  text-align: center;
}

.section-title {
  font-family: Montserrat, sans-serif;
  font-size: 31px;
  font-weight: 400;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 43px;
  color: #848999;
  text-align: center;
}

.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.grey-icon {
  margin-right: 9px;
}

.content-column {
  padding-top: 79px;
  text-align: left;
}

.circle-enter-details {
  height: 268px;
  margin-bottom: 25px;
  padding-top: 0px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.frames {
  margin-top: 0px;
  margin-bottom: 6px;
  padding: 40px 20px 100px;
}

.frames.big {
  padding-top: 25px;
  padding-bottom: 100px;
  padding-left: 0px;
}

.number {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #363b48;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  padding-top: 12px;
  border-radius: 40px;
  background-color: #eff1f4;
}

.icons.testimonials {
  background-color: #79c69e;
}

.quote-box {
  padding: 34px 40px 34px 98px;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('../images/example-bg.png');
  background-position: 8% 22%;
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: left;
}

.quote {
  color: #2d303b;
  font-size: 15px;
  line-height: 24px;
}

.quote-thingy {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: 45px;
}

.by-section {
  text-align: left;
}

.person-icon {
  margin-right: 15px;
  float: left;
}

.location {
  font-family: Varela, sans-serif;
  color: #848999;
  font-size: 15px;
}

.logo-bottom {
  margin-right: 14px;
  float: left;
}

.footer-text {
  display: inline-block;
  margin-top: 11px;
  font-family: Montserrat, sans-serif;
  color: #7d8391;
  font-size: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #596073;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.social-icon:hover {
  background-color: #7f89a3;
}

.right-footer-col {
  text-align: right;
}

.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  height: 86px;
  padding-top: 15px;
  padding-bottom: 21px;
  background-color: #3a5b6e;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, .45);
  opacity: 1;
}

.image-crop {
  overflow: hidden;
  height: 302px;
  box-shadow: inset 0 -11px 0 0 red;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

.image-crop:hover {
  height: 372px;
}

.button-group {
  margin-top: 25px;
  margin-bottom: 48px;
}

.center {
  text-align: center;
}

.banner {
  margin-top: 6px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.initiate-columns {
  margin-top: 30px;
  padding-top: 0px;
}

.getstarted {
  width: 140px;
  border-radius: 5px;
  background-color: #7b9355;
  font-size: 19px;
  text-align: center;
}

.documentationdiv {
  margin-left: 109px;
  float: left;
}

.features-div {
  position: static;
  left: 0px;
  top: 0px;
  float: left;
}

.gosummitdiv {
  float: left;
}

.form {
  width: 149px;
  height: 23px;
  margin-right: 11px;
  padding-right: 9px;
  padding-left: 9px;
  float: right;
}

.checkbox-field {
  width: 74px;
  margin-left: 1px;
  padding-top: 10px;
}

.checkbox-label {
  width: 104px;
  color: #dfdfdf;
}

.gotosummit {
  display: inline-block;
  margin-top: 12px;
  float: right;
  border-radius: 5px;
  background-color: #79935c;
}

.nsfdoc {
  margin-top: 33px;
}

.enter-details-image {
  margin-top: 63px;
}

.monitor-image {
  margin-top: 48px;
}

.enter-details {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.documentation {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.documentation.w--current {
  font-size: 14px;
  text-align: center;
}

html.w-mod-js *[data-ix="slide-from-bottom-1"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="slide-from-bottom-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="slide-from-bottom-3"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="slide-form-top"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.big-green {
    margin-top: 148px;
  }
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle-enter-details {
    height: 256px;
    padding: 5px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
  .menu-icon {
    color: #fff;
  }
  .nsfdoc {
    margin-top: 22px;
    padding: 5px;
  }
  .enter-details-image {
    margin-top: 60px;
  }
  .monitor-image {
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 10px;
  }
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .button.big-green {
    margin-top: 86px;
    margin-bottom: 62px;
  }
  .section {
    padding: 32px 15px;
  }
  .section.hero {
    padding-top: 42px;
  }
  .section.footer {
    text-align: center;
  }
  .company {
    display: inline-block;
    float: none;
  }
  .nav-column {
    padding-top: 19px;
    text-align: center;
  }
  .logo {
    margin-top: -10px;
    float: none;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .grey-icon {
    margin-top: 28px;
  }
  .content-column {
    padding-left: 0px;
  }
  .circle-enter-details {
    display: inline-block;
    height: auto;
    padding: 10px;
    border-radius: 10px;
  }
  .frames {
    width: 55%;
    margin-bottom: 19px;
  }
  .number {
    margin-bottom: 20px;
  }
  .quote-box {
    background-image: url('../images/example-bg.png');
  }
  .by-section.first {
    margin-bottom: 35px;
  }
  .logo-bottom {
    margin-right: -1px;
    margin-bottom: 37px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .social-icon.first {
    margin-left: 1px;
  }
  .right-footer-col {
    text-align: center;
  }
  .nav-bar {
    height: 55px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .brand-column {
    text-align: center;
  }
  .getstarted {
    margin-left: 187px;
  }
  .brand-div {
    margin-top: 18px;
  }
  .nav-bar-container {
    display: block;
    margin-top: -32px;
  }
}

@media (max-width: 479px) {
  .button {
    display: block;
  }
  .button.nav {
    width: 80%;
  }
  .button.big-green {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .hero-subhead {
    margin-bottom: 34px;
  }
  .grey-icon {
    margin-top: 34px;
  }
  .content-column {
    text-align: center;
  }
  .circle-enter-details {
    height: auto;
    padding: 10px;
  }
  .frames {
    width: 75%;
  }
  .quote-box {
    padding-left: 75px;
    background-image: url('../images/example-bg.png');
    background-position: 8% 17%;
  }
  .getstarted {
    position: static;
    margin-left: 24%;
    float: left;
  }
  .menu-icon-div {
    padding-right: 6px;
    padding-left: 6px;
  }
  .enter-details-image {
    margin-top: 0px;
    padding: 10px;
  }
  .monitor-image {
    margin-top: 0px;
  }
}